---
---

body {
  background-image: url("/assets/images/wall.jpg") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: #f5f5f5 !important;
}
